* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


  .body {
    height: auto;
    width: auto;
  }
  
  .body-container {
      display:flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: center;
      height: 100vh;
      width: 100%;

  }

  .contents {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #f4f4f4 !important;
    padding-bottom: 5rem;
  }

  .title {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/speakers/collage/spkr-collage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  .texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .texts h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    -webkit-text-fill-color:rgb(0, 255, 119);
    text-shadow: 0px 0px 10px;
  }

  .title_msg {
    font-size: 20px !important;
  }

  .line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    background-color:white;
    text-align: center;
  }

  .line1 h4{
    -webkit-text-fill-color:rgb(0, 97, 19);
    font-weight: bold;
    font-size: 1.2rem;
    width: 70%;
  }

  .contents-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

/* columns and rows - start */

    .rows-and-col-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .rows {
        display: flex;
        flex-wrap: wrap;
    }
    
    .spkr-column {
        flex: 25%;
        padding: 20px;
    }

    .spkr-col-cont {
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .spkr-col-cont h5 {
        font-size: 18px;
    }



/* columns and rows - end */

.spkr-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
}

.spkr-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.spkr-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    text-align: center;
  }
  
  .spkr-id name{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
  }
  
  .spkr-id comp{
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 114, 44);
  }

  .footer-links i{
    font-size: 20px;
  }
  
  @media screen and (max-width: 768px) {

    .texts h1{
      display: flex;
      text-align: left;
      font-size: 3rem;
      
    }
      .spkr-column {
      flex: 50%;
      }

      .line1 {
          padding: 15px;
           }

           
        .line1 h4{
          font-size: 15px;
          text-align: center;
          width: 100%;
        }
      
      .spkr-col-cont h5{
          font-size: 15px;
      }

      
  }

  @media screen and (max-width: 500px) {
      .rows {
      flex-direction: column;
      }
  }

  @media screen and (max-width: 800px) {
      .rows-and-col-container {
          width: 100%;
      }
  }